*{
    padding: 0;
    margin: 0;
}

/*-------------------------PAGE HEADER-------------------------*/

/*---------------NAV BAR---------------*/
.top-container{
    display: flex;
}
.nav{
    height: 100%;
    width: 100%;
    padding: 10px;
    background-color: rgb(104,187,184);
    display: flex;
    align-items: baseline;
    /* justify-content:right; */
}
.nav-title{
    justify-self: flex-start;
    color: whitesmoke ;
    margin: 20px;
}
.nav-links{
    list-style: none;
    display: flex;
}
a{
    margin: 5px;
    padding: 10px;
    color:darkgrey; 
    text-decoration: none;
}
.
.active{
    font-weight: bold;
    color: lightyellow;
}

/*-----------------------------------MAIN BODY-----------------------------------*/
.main-container{
    display: flex;
}

/*-------------------------LEFT COLUMN-------------------------*/
.left-container{
    /* display: flex; */
    /* padding: 20px; */
}

/*---------------USER CARD---------------*/
.user{
    /* width: 500px; */
    background: linear-gradient(to top, rgb(255,255,255)70%, rgb(248,145,187) 30%);
    border: 2px solid lightgrey;
    margin: 20px;
    display: flexbox;
    /* display: inline-flex */
    /* align-items: center; */
    /* align-content: center; */
}
.user-photo{
    width:100px;
    height: 100%;
    margin: 20px;
    border-radius: 50px;
    border: 3px solid rgb(251,217,93);
}
.name{
    font-size: 13px;
    padding: 0px 0px 0px 20px;
}
.map-marker{
    width: 15px;
    margin: 5px 5px 0px 20px
}
.gear{
    width: 20px;
}
.info{
    padding: 0px 0px 0px 20px;
}
.settings{
    font-size: 15px;
    color: blue;
    text-decoration: blue underline;
    padding-bottom: 20px;
}

/*-------------------------RIGHT COLUMN-------------------------*/
.right-container{
    /* display: flex; */
}

/*---------------CON REQ---------------*/
.connect_request{
    display: flexbox;
    margin: 20px;
    /* width: 100%; */
    align-content: baseline;
}
.connect_request h4{
    background-color: rgb(245,133,91);
    border: 2px solid rgb(245,133,91);
    font-weight: lighter;
    color: whitesmoke;
    padding: 5px;
    text-align: left;
}
.connect_request button{
    
}
.circle_number{
    background-color: rgb(204,204,204);
    border: rgb(204,204,204)1px solid;
    border-radius: 50%;
    color: black;
    font-weight: lighter ;
    padding: 3px;
    margin: 3px;
}
.accept-decline{
    justify-content: flex-end;
}
.friends{
    border: 2px solid lightgrey;
    list-style: none;
    padding: 3px;
    align-items: baseline;
}

/*---------------CONNECTIONS---------------*/
.connections{
    display: flexbox;
    margin: 20px;
    /* width: 100%; */
}
.connections h4{
    background-color: rgb(251,217,93);
    border: 2px solid rgb(251,217,93);
    font-weight: lighter;
    color: whitesmoke;
    padding: 5px;
    text-align: left;
}


/*-----------------------------------OVERALL-----------------------------------*/


/*---------------STYLE---------------*/
.color-palette{
    color: 
    rgb(248,145,187)
    rgb(251,217,93)
    rgb(245,133,91)
    rgb(104,187,184)
}
.overall-font{
    font-family: Arial, Helvetica, sans-serif;
}
.gen-font-size{
    font-size: 15px;
}

/*---------------STRUCTURE---------------*/
.col{
    flex: 1;
}
.col-2{
    flex: 2;
}

/*---------------MULTI USE---------------*/
.btn{
    color: white;
    background: rgb(212,26,100);
    background: linear-gradient(0deg, rgba(212,26,100,1) 0%, rgba(245,103,161,1) 12%, rgba(248,145,187,1) 76%, rgba(213,83,135,1) 98%);
    font-weight:lighter;
    padding: 5px 7px 5px 7px;
    border-color:rgba(213,83,135,1);
    border-radius: 30px;
    box-shadow: 3px 3px 5px black;
}
.friend-photo{
    width: 20px;
    height: 100%;
    margin: 5px 5px 0px 10px;
    border-radius: 50px;
    border: red solid 2px;
}
.icon{
    width: 20px;
    margin: 5px 5px 0px 20px
}
.nav :last-child{
    /* justify-content: right; */
    /* justify-content: flex-end; */
    /* justify-self: flex-end; */
    justify-self: right;
}