*{
    padding: 0;
    margin: 0;
}

/*---------------NAV BAR---------------*/

.nav{
    height: 100%;
    padding: 10px;
    background-color: rgb(104,187,184);
    display: flex;
    align-items: baseline;
    /* justify-content:right; */
}
.nav-title{
    justify-self: flex-start;
    font-size: 25px;
    color: whitesmoke ;
    margin: 20px;
}
.nav-links{
    background-color: transparent;
    list-style: none;
    color: gray;
    display: flex;
}
a{
    margin: 5px;
    padding: 10px;
    color:darkgrey; 
    background-color: transparent;
    list-style: none;
    text-decoration: none;
}
.btn{
    width: 90px;
    height: 25px;
    color: white;
    background: rgb(212,26,100);
    background: linear-gradient(0deg, rgba(212,26,100,1) 0%, rgba(245,103,161,1) 12%, rgba(248,145,187,1) 76%, rgba(213,83,135,1) 98%);/* background-color: */
    font-size: 15px;
    font-weight:lighter;
    border: 2px solid rgba(213,83,135,1);
    border-radius: 30px;
    box-shadow: 3px 3px 5px black;
    justify-self: left;
}
.active{
    font-weight: bold;
    color: lightyellow;
}

.main-container{
    display: flex;
}


.left-container{
    /* display: flex; */
}

/*---------------USER CARD---------------*/

.user{
    /* width: 400px; */
    background: linear-gradient(to top, rgb(255,255,255)70%, rgb(52,162,184) 30%);
    border: 2px solid lightgrey;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: flexbox;
    /* display: inline-flex */
    /* align-items: center; */
    /* align-content: center; */
}
.user-photo{
    width:100px;
    margin: 10px 0px 0px 0px;
    padding: 20px 0px 0px 20px;
}
.name{
    font-size: 13px;
    padding: 0px 0px 0px 20px;
}
.location{
    font-size: 12px;
}
.map-marker{
    width: 15px;
}
.info{
    font-size: 15px;
    padding: 0px 0px 0px 20px;
}
.settings{
    font-size: 12px;
    color: blue;
    text-decoration: blue underline;
    padding-bottom: 20px;
}
img{
    width: 15px;
    margin: 3px;
    padding: 0px 0px 0px 20px;
    /* align-items: center; */
}


.right-container{
    /* display: flex; */
}

/*---------------CON REQ---------------*/

.connect_request{
    display: flexbox;
    margin: 20px;
    /* width: 100%; */
}
.connect_request h4{
    background-color: rgb(51,51,51);
    border: 2px solid rgb(51,51,51);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: lighter;
    color: whitesmoke;
    padding: 5px;
    text-align: left;
}
.circle_number{
    background-color: rgb(204,204,204);
    border: rgb(204,204,204)1px solid;
    border-radius: 50%;
    color: black;
    font-weight: lighter ;
    padding: 3px;
    margin: 3px;
}
.connect-icon{
    justify-content: flex-end;
}
.friends{
    border: 2px solid lightgrey;
    list-style: none;
    padding: 3px;
    align-items: baseline;
}

/*---------------CONNECTIONS---------------*/

.connections{
    display: flexbox;
    margin: 20px;
    /* width: 100%; */
}
.connections h4{
    background-color: rgb(51,51,51);
    border: 2px solid rgb(51,51,51);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: lighter;
    color: whitesmoke;
    padding: 5px;
    text-align: left;
}
.friend-photo{

}


.col{
    flex: 1;
}
.col-2{
    flex: 2;
}


.container{
    /*for formatting only...remove before complete*/
    border: 2px dotted red;
    padding: 5px; 
}

/*---------------MISC---------------*/
.color-palette{
    color: 
    rgb(248,145,187)
    rgb(251,217,93)
    rgb(245,133,91)
    rgb(104,187,184)

}
