*{
    padding: 0;
    margin: 0;
}

/*-------------------------PAGE HEADER-------------------------*/
/*---------------NAV BAR---------------*/
.top-container{
    display: flex;
}
.nav{
    height: 100%;
    width: 100%;
    background: rgb(72,29,82);
    background: linear-gradient(0deg, rgba(72,29,82,1) 17%, rgba(10,10,10,0.9077240566037736) 60%, rgba(72,29,82,1) 100%);
    box-shadow: 0px 10px 30px black;
    border: 1px groove rgb(72,29,82);
    display: flex;
    align-items: baseline;
    justify-content:space-evenly;
}
.nav-title{
    margin: 20px;
}
.nav-links{
    list-style: none;
    display: flex;
}
a{
    margin: 5px;
    padding: 10px;
    text-decoration: none;
    color: whitesmoke;
}
.active{
    font-weight: bold;
    color: lightyellow;
}

/*-----------------------------------MAIN BODY-----------------------------------*/
.main-container{
    display: flex;
}

/*-------------------------LEFT COLUMN-------------------------*/
.left-container{
    /* display: flex; */
}

/*---------------USER CARD---------------*/
.user{
    /* width: 500px; */
    background: linear-gradient(to top, transparent 70%, rgb(221,81,126) 30%);
    border: 1px groove rgb(36, 22, 39);
    margin: 20px;
    display: flexbox;
}
.user-photo{
    width:100px;
    margin: 20px;
    box-shadow: 
        0 0  10px 7px rgb(221,81,126),
        0 0 70px 10px rgb(230,142,53);
}
.name{
    font-size: 13px;
    padding: 0px 0px 0px 20px;
}
.map-marker{
    width: 15px;
    margin: 5px 5px 0px 20px
}
.gear{
    width: 20px;
}
.info{
    padding: 0px 0px 0px 20px;
}
.settings{
    font-size: 15px;
    color: rgb(85,108,201);
    text-decoration: rgb(122,152,237) underline;
    padding-bottom: 20px;
}

/*---------------EDUCATION---------------*/
.education{
    display: flexbox;
    margin: 20px;
    list-style: none;
    border: 1px groove rgb(72,29,82);
}
.education h4{
    background-color: rgb(230,142,53);
    font-weight: lighter;
    padding: 5px;
    text-align: left;
}
.courses{
    border-top: 1px groove rgb(72,29,83);
    list-style: none;
    padding: 3px;
    align-items: baseline;
}

/*-------------------------RIGHT COLUMN-------------------------*/
.right-container{
    /* display: flex; */
}

/*---------------CON REQ CONNECTIONS---------------*/
.connections{
    display: flexbox;
    margin: 20px;
    align-content: baseline;
    border: 1px groove rgb(72,29,82);
}
.connections h4{
    background-color: rgb(85,108,201);
    font-weight: lighter;
    padding: 5px;
    text-align: left;
}
.accept-decline{
    justify-content: flex-end;
}
.friends{
    border-top: 1px groove rgb(72,29,82);
    list-style: none;
    padding: 3px;
    align-items: baseline;
}

/*-----------------------------------OVERALL-----------------------------------*/


/*---------------STYLE---------------*/
.color-palette{
    color:
    rgb(36, 22, 39) 
    rgb(72,29,82) 
    rgb(221,81,126)
    rgb(230,142,53)
    rgb(85,108,201)
    rgb(122,152,237)
}
.overall-font{
    font-family:monospace;
    color: whitesmoke;
}
.whole-background{
    background: rgb(0,0,0);
    background: linear-gradient(36deg, rgba(0,0,0,1) 1%, rgba(72,29,82,1) 17%, rgba(122,152,237,1) 57%, rgba(85,108,201,1) 62%, rgba(72,29,82,1) 88%, rgba(10,10,10,1) 98%);
}

/*---------------STRUCTURE---------------*/
.col{
    flex: 1;
}
.col-2{
    flex: 2;
}

/*---------------MULTI USE---------------*/
.gen-font-size{
    font-size: 15px;
}
.title-font-size{
    font-size: 30px;
}
/* .margin20{
    margin: 20;
} */
.btn{
    background: rgb(0,0,0);
    background: linear-gradient(36deg, rgba(0,0,0,1) 1%, rgba(72,29,82,1) 17%, rgba(122,152,237,1) 57%, rgba(85,108,201,1) 62%, rgba(72,29,82,1) 88%, rgba(10,10,10,1) 98%);
    color: whitesmoke;
    font-weight:lighter;
    padding: 5px 7px 5px 7px;
    margin: 0px 10px 0px 10px;
    border: 1px groove black;
    border-radius: 30px;
}
.shadow{
    box-shadow: 2px 2px 10px 3px black;
}
.friend-photo{
    width: 20px;
    margin: 5px 5px 0px 10px;
    box-shadow: 
        0 0  5px 2px rgb(230,142,53);
}
.circle{
    border-radius: 50px;
    border: 1px groove rgb(221,81,126);
}
.icon{
    width: 20px;
    margin: 5px 5px 0px 20px
}
.nav :last-child{
    /* justify-content: right; */
    /* justify-content: flex-end; */
    /* justify-self: flex-end; */
    justify-self: right;
}